---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <ul class="listing comments">
  {% for comment in site.data.comments.sessions %}
    {% if comment.path == page.url %}
    <li>
      <img src="{{ comment.avatar }}" alt="{{ comment.name }}">
      <time datetime="{{ comment.created | date_to_xmlschema }}">{{ comment.created | date_to_long_string  }}</time>
      {% if comment.url %}
        <a href="{{ comment.url }}" class="commenter">{{ comment.name }}</a>
      {% else %}
        <span class="commenter">{{ comment.name }}</span>
      {% endif %}
      <div>
        {{ comment.comment }}
      </div>
    </li>
    {% endif %}
  {% endfor %}
</ul>

</div>
